// These are globally accessible colors
$green: #65B891;
$red: #BF211E;
$aquamarine: #297373;
$blue-royal: #5762D5;
$terra-cotta: #E87461;
$yellow: #FFB000;

$primary: $aquamarine;
$link: $blue-royal;
$info: $terra-cotta;
$success: $green;
$warning: $yellow;
$danger: $red;
// $dark: $black;
// $text: $grey-dark;