.DS_Store
**/node_modules/*
**/.env.local.js
.env*
**/.env.local

log/*

**/workspace.code-workspace
.vscode

client/assets/css/main.css

# Nuxt dev/build outputs
client/.output
client/.data
client/.nuxt
client/.nitro
client/.cache
client/dist

api/images/*

html/*